<!-- attempt at background image animation-->
{% macro slide(fromLoc, toLoc) %}

{% set startLoc = -((fromLoc*100) + 100) %}
{% set endLoc = -((toLoc*100) + 100) %}
<style>
#bg {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	position: relative;
	overflow: hidden;
}

#bg:before {
	content: "";
	z-index: -1;
	background: url("/static/images/cubefield_v10.jpg");
	background-size: cover;

	position: absolute;
	width: calc(100% + 500px);
	height: 100%;

	animation: slide-background 2s ease;
	-moz-animation: slide-background 2s ease;
	-webkit-animation: slide-background 2s ease;

	left: 0px; 
	top: 0;

	-webkit-transform: translate({{ endLoc }}px);
	-moz-transform: translate({{ endLoc }}px);
	transform: translate({{ endLoc }}px);
}

@keyframes slide-background { /* smoother using translate than left */
	from { 
		-webkit-transform: translateX({{ startLoc }}px);
		-moz-transform: translateX({{ startLoc }}px); 
		transform: translateX({{ startLoc }}px); 
	}
	to {
		-webkit-transform: translateX({{ endLoc }}px); 
		-moz-transform: translateX({{ endLoc }}px); 
		transform: translateX({{ endLoc }}px); 
	}
}

@-webkit-keyframes slide-background { /* smoother using translate than left */
	from { 
		-webkit-transform: translateX({{ startLoc }}px); 
		transform: translateX({{ startLoc }}px); 
	}
	to { 
		-webkit-transform: translateX({{ endLoc }}px); 
		transform: translateX({{ endLoc }}px); 
	}
}

@-moz-keyframes slide-background { /* smoother using translate than left */
	from { 
		-moz-transform: translateX({{ startLoc }}px); 
		transform: translateX({{ startLoc }}px); 
	}
	to { 
		-moz-transform: translateX({{ endLoc }}px); 
		transform: translateX({{ endLoc }}px); 
	}
}
</style>

{% endmacro %}