{% extends 'layout.html' %}
{% import 'macros/breadcrumbs.html' as crumbs %}

{% block content %}
<div id="content-section">
  {{ crumbs.trace(crumblist) }}

  <h1 class="gallery"><span class="label">Gallery | </span>{{ gallery.name }}</h1>

  <p class="blurb">{{ gallery.overview }}</p>

  {% for image in gallery.images %}
  {% set cur_index = loop.index %}
  <h5 id="{{ cur_index }}"></h5>
  <p><span class="label">Name | </span>{{ image.name }}<span class="date">{{ image.date }}<span class="label"> | Date</span></span></p>
  <p><span class="label">Medium | </span>{{ image.medium }}</p>

  {% for sentence in image.description %}
  <p>{% if loop.index == 1 %}<span class="label">About | </span>{% endif %}{{ sentence }}</p>
  {% endfor %}

  {% for url in image.urls %}
  <img class="gallery-img" src="/static/gallery/{{ gallery.link }}/{{ url }}" />
  <a class="spotlight" onclick="spotlight('/static/gallery/{{ gallery.link }}/{{ url }}');">view image fullscreen</a>
  {% endfor %}

  <br /><br />
  
  {# link to each image at the bottom of each image for navigation purposes #}
  {% for link in gallery.images %}
  {% if cur_index != loop.index %}
  <a class="spotlight" href="#{{ loop.index }}">{{ loop.index }}</a>&nbsp;
  {% else %}
  <a class="spotlight" href="#{{ loop.index }}">[{{ loop.index }}]</a>&nbsp;
  {% endif %}
  {% endfor %}

  <br />
  {% endfor %}
  
  <div class="endblock"></div>
</div>

<div id="overlay">
  <img id="overlay-image" class="gallery-full-img" src="/static/images/none.png" onclick="spotlight('/static/images/none.png');" />
</div>
{% endblock %}