<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/static/images/favicon.png">

    <title>gh-projects</title>

    <link rel="stylesheet" href="/static/mobile.css">
  </head>

  <body>
    <main>
      <p>Mobile site is on its way!</p>
      <p>You ended up here because you attempted to access this website with a that has too small of a screen to display this content properly. In this context, 'too small' means less than 1050 pixels wide.</p>
      <p>Either sit tight here and wait patiently or try again with a laptop/desktop computer.</p>
      <p>Thanks!</p>
    </main>
    <div id="red-block">gh-projects</div>
  </body>

</html>