{%- extends 'layout.html' %}

{%- block content %}
<div id="content-section">

  <h2>Why Robots?</h2>

  <h5>What is a robot?</h5>
  <p>What is a robot? Various people will tell you various different things, but I'll offer my own personal definition:</p>

  <p class="codeblock">A robot is a piece of machinery that accepts real-time information and processes it to produce actions in the physical world.</p>

  <p>In other words, a robot is something that you can interact with in this net of molecules and forces that we call reality. Under this definition, systems that accept and blindly execute pre-programmed instructions are not robots, nor are things that exist purely in the digital realm. Those fall under the category of <span class="codeblock">Machines</span>. All robots are machines, but not all machines are robots. For clarity, in the following paragraphs let's assume that when the word machine is used it is meant to mean non-robot machines.</p>

  <p>Now that the definition is out in the open, I'll state bluntly that robots are where my interests lie.</p>

  <p>Robots are a scarce thing in our world these days: most of the systems that come to mind when one says the word "robot" are either plain-old machines by the above definition or exist purely in the realm of science fiction. What do the industrial arm that welds 1,600 car doors in a day, the pick and place putting together your next iPhone, and the "drone" taking pictures from 12,000 feet up all have in common? They're nothing more than machines. As long as humans are responsible for making all of the decisions, it's pretty safe to say that what you're thinking of is something that I would refer to as a machine.</p>

  <p>That is changing. Quickly.</p>

  <p>Your little Roomba dutifully hoovering the remnants of your last snack is a robot; the car that will be driving you to work in five or ten years' time is one too. Now we're getting somewhere! These pieces earned the name "robot" because they both share the secret ingredient in the stew: <span class="codeblock">Autonomy</span>. </p>

  <br /><br />

</div>
{%- endblock %}