/*
CSS for the gallery section of the website. Uses the "gallery" module
and the auto-hiding "nav_hidden" module.

Order of the imports in this file is VERY important. Do not change without a reason.
*/
/* COMMONLY USED MIXINS */
/* COLORS */
/* $red: #720000; old red */
/* FONTS */
@font-face {
  font-family: "Rad-Light";
  src: url(fonts/Rajdhani-Light.ttf); }
@font-face {
  font-family: "Rad-Bold";
  src: url(fonts/Rajdhani-Bold.ttf); }
@font-face {
  font-family: "Rad-Medium";
  src: url(fonts/Rajdhani-Medium.ttf); }
@font-face {
  font-family: "Rad-Regular";
  src: url(fonts/Rajdhani-Regular.ttf); }
@font-face {
  font-family: "Rad-SemiBold";
  src: url(fonts/Rajdhani-SemiBold.ttf); }
@font-face {
  font-family: "Mono";
  src: url(fonts/AnonymousPro-Regular.ttf); }
@font-face {
  font-family: "Mono-Ital";
  src: url(fonts/AnonymousPro-Italic.ttf); }
@font-face {
  font-family: "Mono-Bold";
  src: url(fonts/AnonymousPro-Bold.ttf); }
@font-face {
  font-family: "Mono-Bold-Ital";
  src: url(fonts/AnonymousPro-BoldItalic.ttf); }
@font-face {
  font-family: "BLOKK";
  src: url(fonts/BLOKKNeue-Regular.ttf); }
/* USEFUL MIXINS */
/* STRUCTURAL COMPONENTS */
/* NAV CSS */
nav {
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
  /* this isn't good.... */
  margin-left: -10px;
  width: 100%;
  min-width: 1050px; }

footer {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
  position: fixed;
  display: block;
  text-align: center;
  color: #222222;
  background: #600000;
  bottom: 0;
  left: -10px;
  /* not ideal, to compensate for auto padding */
  width: 100%;
  height: 50px;
  z-index: 999;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s; }

footer.slide-down {
  animation: slide-out 1.5s;
  -webkit-animation: slide-out 1.5s;
  -moz-animation: slide-out 1.5s;
  opacity: 0; }
  footer.slide-down:hover {
    opacity: 1.0; }

/*
#sticky-element {
	width:100%;
	height:auto;

	position: fixed;
	bottom: 0;
}
*/
a.nav-tab {
  margin: 0px 15px;
  display: inline-block;
  vertical-align: bottom;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  color: #F8F8F8;
  border-radius: 10px 10px 0px 0px;
  border-top: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  width: 75px;
  height: 20px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s; }
  a.nav-tab.current {
    height: 15px;
    background: rgba(34, 34, 34, 0.25);
    /*		animation: button-collapse 0.35s;
    		transition-timing-function: ease-in; */
    /* do nothing on hover for selected tab */ }
    a.nav-tab.current:hover {
      height: 15px;
      background: rgba(34, 34, 34, 0.25); }
  a.nav-tab:hover {
    color: #FFFFFF;
    height: 25px;
    background: rgba(248, 248, 248, 0.2);
    cursor: pointer; }
  a.nav-tab:active {
    /* simulate the collapse when the button is clicked */
    height: 15px;
    background: rgba(34, 34, 34, 0.25); }

a.nav-title {
  margin: 0px 15px;
  display: inline-block;
  vertical-align: bottom;
  padding: 10px 10px 10px 10px;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  width: 200px;
  color: #F8F8F8;
  text-decoration: none;
  font-size: 2rem;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s; }
  a.nav-title:hover {
    font-size: 2.2rem;
    color: #FFFFFF;
    cursor: pointer; }

/* KEYFRAMES */
@keyframes slide-out {
  from {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1.0; }
  to {
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    transform: translateY(70px);
    opacity: 1.0; } }
@-webkit-keyframes slide-out {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1.0; }
  to {
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
    opacity: 1.0; } }
@-moz-keyframes slide-out {
  from {
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1.0; }
  to {
    -moz-transform: translateY(70px);
    transform: translateY(70px);
    opacity: 1.0; } }
/* bottom nav button stylings */
/* CODING LANGUAGE PROFICIENCY BAR CSS */
/* USEFUL MIXINS */
.lang-wrapper {
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  position: relative;
  width: 60%;
  height: 2rem;
  cursor: pointer;
  padding: 0;
  margin-bottom: 1rem;
  overflow: hidden;
  color: #DDDDDD;
  background: rgba(248, 248, 248, 0.5);
  /*
  	@include transition(0.5s);
  	&:active {
  		height: auto;
  	} */ }
  .lang-wrapper.display {
    height: auto !important; }

.lang-text {
  padding: 1rem 0;
  text-align: left;
  color: #222222; }

.bar-outer {
  border-radius: 1rem;
  /*	background: rgba($gray, 0.25); */
  height: 2rem;
  width: 100%;
  position: relative; }

.bar-inner-green {
  border-radius: 1rem;
  height: 2rem;
  color: #FFFFFF;
  background: rgba(88, 185, 87, 0.5);
  position: absolute; }

.bar-inner-yellow {
  border-radius: 1rem;
  height: 2rem;
  color: #FFFFFF;
  background: rgba(242, 174, 67, 0.5);
  position: absolute; }

.bar-inner-red {
  border-radius: 1rem;
  height: 2rem;
  color: #FFFFFF;
  background: rgba(219, 82, 75, 0.5);
  position: absolute; }

span.lang-name {
  padding-top: 0.375rem;
  display: inline-block;
  position: relative; }

/* programming language proficiency bar stylings */
/* NOTE: CSS for animated background is contained in bg.html */
/* STANDARD HTML ELEMENTS */
html, body {
  font-family: "Rad-Regular";
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px; }

main {
  width: 100%;
  min-width: 1050px;
  height: calc(100% - 70px);
  /* this works !!!!! */
  margin: 0;
  padding: 0;
  text-align: center; }

h1, h2 {
  padding: 1rem 0;
  margin: 0 auto;
  font-family: "Rad-SemiBold";
  font-size: 3rem;
  text-align: center;
  width: 100%;
  background: rgba(34, 34, 34, 0.5); }

h2 {
  padding: 1rem 2rem 0 2rem;
  border-bottom: solid 1px #DDDDDD; }

h3 {
  font-family: "Rad-SemiBold";
  padding: 1rem 0;
  margin: 0;
  font-size: 2rem; }

h5 {
  margin-left: auto;
  margin-right: auto;
  font-family: "Rad-SemiBold";
  /*	padding: 1rem 0; */
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 1rem 0 0 4rem;
  width: 66.6%;
  border-bottom: solid 1px #DDDDDD;
  font-size: 1.5rem;
  text-align: left; }

a.regular {
  font-family: "Mono-Bold";
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer; }
  a.regular:active, a.regular:hover {
    color: #DDDDDD;
    text-decoration: underline; }

/* ID BLOCKS */
#title-text {
  /* for transition down from top */
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  min-width: 800px;
  height: 4rem;
  background: rgba(34, 34, 34, 0);
  color: #DDDDDD;
  position: absolute;
  /* this block ensures that it is always centered */
  left: 0;
  right: 0;
  overflow: scroll;
  cursor: default;
  opacity: 0;
  /* will be overridden when .transition-in is applied */
  /*	@include transition(1s);
  	&:hover {
  		height: calc(100% - 70px);
  		background: rgba($black, 0.75);
  		color: $light;
  	} */ }

#content-section {
  /* static block same style as title-text but with no hover animation */
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  min-width: 800px;
  height: calc(100% - 70px);
  /* this works !!!!! */
  position: absolute;
  /* this block ensures that it is always centered */
  left: 0;
  right: 0;
  background: rgba(34, 34, 34, 0.75);
  color: #F8F8F8;
  overflow: scroll;
  opacity: 0;
  /* will be overridden when .transition-in is applied */ }

.transition-in {
  /* fade-in animation for main display blocks */
  opacity: 1 !important;
  animation: transition-in 1.5s;
  -webkit-animation: transition-in 1.5s;
  -moz-animation: transition-in 1.5s; }

/* CLASS BLOCKS */
p {
  margin-left: auto;
  margin-right: auto;
  width: 66.6%;
  text-align: left; }

p.blurb {
  width: 50%;
  font-size: 1.2rem;
  text-align: center; }

p.signature {
  padding-left: 4rem;
  font-size: 1.5rem; }

p.disclaimer {
  margin-top: 4rem;
  color: #DDDDDD;
  font-size: 0.75rem; }

p.note {
  margin-top: 2rem;
  color: #DDDDDD;
  font-size: 0.75rem; }

p.codeblock {
  color: #FFFFFF;
  width: 50%;
  background: rgba(96, 0, 0, 0.25);
  font-family: "Mono";
  padding: 1rem; }

p.project-blurb {
  border-bottom: solid 1px #DDDDDD;
  padding-bottom: 1rem;
  margin-bottom: 3rem; }

/*
h3.title-bottom {
	@include auto_margin;

	position:absolute;

	bottom:0.5rem; 
	left:0;
	right:0;
}
*/
span.codeblock {
  color: #FFFFFF;
  width: 100%;
  background: rgba(96, 0, 0, 0.25);
  font-family: "Mono";
  padding: 5px; }

span.strong {
  font-family: "Rad-SemiBold"; }

ul {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: left;
  list-style-type: square; }

img.headshot {
  width: 100%; }

img.icon {
  opacity: 0.5;
  margin: 0 10px 0 10px;
  height: 50px;
  width: 50px;
  display: inline-block;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s; }
  img.icon:hover {
    opacity: 1; }

div.crumbblock {
  background-color: rgba(96, 0, 0, 0.25);
  display: block;
  padding: 0.5rem 0; }

div.portfolio-img {
  margin-left: auto;
  margin-right: auto;
  width: 66.6%;
  height: 16rem;
  /*	background-size: cover; */
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 1rem; }

a.portfolio-img {
  width: 100%;
  height: 16rem;
  line-height: 16rem;
  cursor: pointer;
  background: rgba(34, 34, 34, 0);
  color: rgba(248, 248, 248, 0);
  text-decoration: none;
  font-family: "Mono-Bold";
  font-size: 2rem;
  display: block;
  border-radius: 1rem;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s; }
  a.portfolio-img:hover {
    background: rgba(34, 34, 34, 0.5);
    color: #f8f8f8; }
  a.portfolio-img.disabled {
    /* disabled styling for projects that haven't been written about yet */
    cursor: default;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s; }
    a.portfolio-img.disabled:hover {
      background: url("/static/images/coming_soon.png");
      background-size: cover; }

/* KEYFRAMES */
@keyframes transition-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes transition-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes transition-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* ELEMENTS NECESSARY FOR GALLERY */
/* CSS necessary for Gallery view */
main {
  /* override default "main" block held in the "_main" partial */
  width: 100%;
  min-width: 800px;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: scroll; }

#gallery-container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  min-width: 1050px;
  height: 100%; }

#gallery-main {
  margin: 0;
  display: inline-block;
  width: calc(100% - 175px);
  min-width: 875px;
  height: 100%;
  background: rgba(34, 34, 34, 0.75);
  color: #F8F8F8;
  float: right;
  /*	padding-bottom: 4rem; */
  overflow: scroll;
  animation: transition-in 1.5s;
  -webkit-animation: transition-in 1.5s;
  -moz-animation: transition-in 1.5s; }

#gallery-side {
  margin: 0;
  display: inline-block;
  float: left;
  width: 175px;
  /*	width: 875px; */
  height: 100%;
  cursor: default !important;
  background: rgba(34, 34, 34, 0);
  /*	color: $light; */
  overflow-y: scroll;
  overflow-x: hidden;
  /* PRETTY SURE THIS DISABLES HIGHLIGHTING */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* THIS GIVES A NICE FROSTING EFFECT */
  -webkit-filter: blur(2.5px);
  -moz-filter: blur(2.5px);
  -ms-filter: blur(2.5px);
  -o-filter: blur(2.5px);
  filter: blur(2.5px); }

#gallery-side-shade {
  /* this :before is here to get rid of the blurred edges effect
  when using CSS blur on the gallery-side block. provides a backdrop
  for the blurred side gallery */
  z-index: -1;
  float: left;
  position: fixed;
  /*
  	left: calc(50% - 525px);
  */
  width: 175px;
  height: 100%;
  background: rgba(34, 34, 34, 0.9);
  animation: transition-in 1.5s;
  -webkit-animation: transition-in 1.5s;
  -moz-animation: transition-in 1.5s; }

#gallery-welcome {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 75%;
  min-width: 1050px;
  text-align: center;
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  color: #F8F8F8; }

#gallery-overlay {
  /* the block for full-screen image view */
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: inline-block;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0.0;
  z-index: -1;
  /* behind the main content block until pulled up */ }

.gallery-side-el {
  zoom: 0.2;
  cursor: default !important;
  color: #DDDDDD !important;
  font-family: "BLOKK" !important;
  font-size: 0.5rem !important; }

button.gallery-welcome-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: #DDDDDD;
  color: #600000;
  font-family: "Rad-SemiBold";
  font-size: 2rem;
  width: 300px;
  height: 100px;
  border-radius: 25px;
  border: 2.5px solid #600000;
  cursor: pointer;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s; }
  button.gallery-welcome-button:hover {
    background: #F8F8F8;
    font-size: 2.25rem; }
  button.gallery-welcome-button:active {
    background: #FFFFFF;
    outline: none; }
  button.gallery-welcome-button:focus {
    outline: none; }

h1.gallery, h2.gallery {
  font-family: "Rad-Light"; }

img.gallery-img {
  display: block;
  margin: 3rem auto auto auto;
  cursor: pointer;
  max-width: calc(100% - 200px);
  max-height: calc(100% - 200px);
  border-radius: 1rem; }

img.gallery-img.gallery-side-el {
  display: block;
  margin: 1rem auto auto auto;
  max-width: 66.6%;
  max-height: calc(100% - 200px);
  border-radius: 0.2rem; }

img.gallery-full-img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  margin: auto;
  max-height: calc(100% - 50px);
  max-width: calc(100% - 50px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute; }

span.label {
  font-family: "Mono-Bold";
  color: #F8F8F8; }

span.date {
  font-family: "Rad-Light";
  color: #F8F8F8;
  float: right; }

a.spotlight {
  font-size: 0.75rem;
  font-family: "Mono-Bold";
  color: #DDDDDD;
  text-decoration: none;
  cursor: pointer; }
  a.spotlight:active, a.spotlight:hover {
    color: #F8F8F8; }

/*
div.gallery-nav-wrap {
	margin: 0;
	padding: 0;
}
*/
a.gallery-nav {
  width: 20px;
  height: 20px;
  display: inline-block;
  color: #DDDDDD;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  margin: 0 5px;
  padding: 4px 2px 0 2px;
  background: rgba(34, 34, 34, 0.25);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s; }
  a.gallery-nav:hover {
    background: rgba(255, 255, 255, 0.1); }
  a.gallery-nav:active {
    background: rgba(255, 255, 255, 0.25); }

a.gallery-nav-current {
  width: 20px;
  height: 20px;
  display: inline-block;
  color: #DDDDDD;
  text-decoration: none;
  cursor: default;
  border-radius: 5px;
  font-size: 12px;
  margin: 0 5px;
  padding: 4px 2px 0 2px;
  background: rgba(96, 0, 0, 0.25); }

h5.gallery-side-el {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0; }

.endblock {
  height: 70px;
  padding-top: 1rem;
  display: block; }

/*
EXPERIMENTAL
LOADING 
ANIMATION
*/
div.loader {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: block;
  width: 10%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #F8F8F8;
  color: #222222;
  border-radius: 25px;
  animation: loading 3s infinite cubic-bezier(0.5, 0, 0.5, 1);
  -webkit-animation: loading 3s infinite cubic-bezier(0.5, 0, 0.5, 1);
  -moz-animation: loading 3s infinite cubic-bezier(0.5, 0, 0.5, 1); }

div.loaded {
  display: none;
  height: 400px;
  width: 50%;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute; }

/* KEYFRAMES */
@keyframes loading {
  0% {
    -webkit-transform: translateY(-140px) rotate(0deg);
    -moz-transform: translateY(-140px) rotate(0deg);
    transform: translateY(-140px) rotate(0deg); }
  33% {
    -webkit-transform: translateX(-100px) rotate(225deg);
    -moz-transform: translateX(-100px) rotate(225deg);
    transform: translateX(-100px) rotate(225deg); }
  66% {
    -webkit-transform: translateX(100px) rotate(495deg);
    -moz-transform: translateX(100px) rotate(495deg);
    transform: translateX(100px) rotate(495deg); }
  100% {
    -webkit-transform: translateY(-140px) rotate(720deg);
    -moz-transform: translateY(-140px) rotate(720deg);
    transform: translateY(-140px) rotate(720deg); } }
@-webkit-keyframes loading {
  0% {
    -webkit-transform: translateY(-140px) rotate(0deg);
    transform: translateY(-140px) rotate(0deg); }
  33% {
    -webkit-transform: translateX(-100px) rotate(225deg);
    transform: translateX(-100px) rotate(225deg); }
  66% {
    -webkit-transform: translateX(100px) rotate(495deg);
    transform: translateX(100px) rotate(495deg); }
  100% {
    -webkit-transform: translateY(-140px) rotate(720deg);
    transform: translateY(-140px) rotate(720deg); } }
@-moz-keyframes loading {
  0% {
    -moz-transform: translateY(-140px) rotate(0deg);
    transform: translateY(-140px) rotate(0deg); }
  33% {
    -moz-transform: translateX(-100px) rotate(225deg);
    transform: translateX(-100px) rotate(225deg); }
  66% {
    -moz-transform: translateX(100px) rotate(495deg);
    transform: translateX(100px) rotate(495deg); }
  100% {
    -moz-transform: translateY(-140px) rotate(720deg);
    transform: translateY(-140px) rotate(720deg); } }
.slide-up {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-animation: slide-up 1.25s ease;
  -moz-animation: slide-up 1.25s ease;
  animation: slide-up 1.25s ease; }

@keyframes slide-up {
  from {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); }
  to {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(-100%); } }
@-moz-keyframes slide-up {
  from {
    -moz-transform: translateY(0px);
    transform: translateY(0px); }
  to {
    -moz-transform: translateY(100%);
    transform: translateY(-100%); } }

/*# sourceMappingURL=gallery.css.map */
