{% extends 'layout.html' %}

{% block content %}
<div id="content-section">

  <h1>About</h1>
  <img src="/static/images/headshot4.jpeg" class="headshot" />

  <p class="blurb">My name is <span class="strong">Gordon Hart</span> and I'm looking forward to seeing robots increasingly integrated into our society.</p>

  <p class="blurb">Currently working towards a degree in Computer Science from McGill University in Montreal, Quebec.</p>

<!--
  <h5>Interests</h5>
  <p>I like to build machines. Machines of all shapes, sizes, forms, and functions. There's nothing quite like watching your creation "come to life".</p>

  <p>We're fortunate to be alive at a time when robots are finally starting to take shape in our world. We are on the verge of a revolution that will forever change our work and our lives. Some refer to it as the "Fourth Industrial Revolution": a push towards automation of the unsavory tasks that will allow us as humans to focus more of our efforts on that which makes us different from machines executing code.</p>

  <p>Learn more about my thought process at the <a class="regular" href="/about/why_robots">Why Robots?</a> page.</p>
  <p>To see some of my recent projects, visit the <a class="regular" href="/projects">Projects</a> page.


  <h5>Coding Experience</h5>
  <p>I've been programming since the ripe old age of 14, which roughly translates to age 57 in programmer's years. All jokes aside, since starting I've been steadily ramping up the pace with no end in sight. My current skills and abilities are as follows [click on each for more information]:</p>


  <!-- LANGUAGES -a->
  <div class="lang-wrapper" onclick="expand(this);">
    <div class="bar-outer">
      <div class="bar-inner-green" style="width: 94%;">
        <span class="lang-name">Java</span>
      </div>
    </div>
    <div class="lang-text">
      <p>Rode on this bike with training wheels on for far longer than I'd care to admit——but hey, now I definitely know how to ride! A great language for establishing fundamentals, and a solid basis from which to jump to the more flashy languages.</p>

      <p><span class="strong">Largest project:</span> Machine Writing</p>

      <p><span class="strong">Go to for:</span> Large, rigidly defined software engineering projects that don't require a particularly pretty front-end; any situation in which the UML diagram is more important than the system itself.</p>
    </div>
  </div>

  <div class="lang-wrapper" onclick="expand(this);">
    <div class="bar-outer" >
      <div class="bar-inner-green" style="width: 92%;">
        <span class="lang-name">Python</span>
      </div>
    </div>
    <div class="lang-text">
      <p>If Java is a bike with training wheels, Python is a Ducati. It's pretty easy to see why many say it's the language of the future; on the whole I've found that there's very little pain involved when developing in Python. The pure dynamic typing can get unwieldy at times, however.</p>

      <p><span class="strong">Largest project:</span> Protocol Editor (OpenTrons)</p>

      <p><span class="strong">Go to for:</span> Nearly everything——Python is my language of choice these days. Number crunching scripts, backend web development (preferred framework: Flask), sleek GUIs, you name it.</p>
    </div>
  </div>

  <div class="lang-wrapper" onclick="expand(this);">
    <div class="bar-outer" >
      <div class="bar-inner-green" style="width: 85%;">
        <span class="lang-name">HTML/CSS</span>
      </div>
    </div>
    <div class="lang-text">
      <p>If you're on this page, you can tell I'm a big fan of CSS3 animations. Though neither CSS nor HTML are really programming languages, they each possess their own quirks and are [obviously] requisites for any web developer's toolbelt.</p>

      <p><span class="strong">Largest project:</span> Protocol Editor (OpenTrons)</p>

      <p><span class="strong">Go to for:</span> Shiny front-ends!</p>
    </div>
  </div>

  <div class="lang-wrapper" onclick="expand(this);">
    <div class="bar-outer" >
      <div class="bar-inner-green" style="width: 82%;">
        <span class="lang-name">Perl</span>
      </div>
    </div>
    <div class="lang-text">
      <p>There's a special place in my heart for Perl——if I had been born 15 years earlier I could see myself falling in love with it. The wonky syntax, clever implicit handling of arguments, and simple typing scheme give it a unique feel. When using it, however, there's no escaping the feeling that it's simply past its prime.</p>

      <p><span class="strong">Largest project:</span> Nitinol Reacher Database Hunter</p>

      <p><span class="strong">Go to for:</span> Crunching data (if I'm not in a Python mood). Long, standalone scripts.</p>
    </div>
  </div>

  <div class="lang-wrapper" onclick="expand(this);">
    <div class="bar-outer" >
      <div class="bar-inner-yellow" style="width: 80%;">
        <span class="lang-name">C#</span>
      </div>
    </div>
    <div class="lang-text">
      <p>Oh boy, the Unity Game engine! What a tool. A simple, pre-built rendered environment where everything is created, controlled, and destroyed by C# scripts. What could be better? Haven't come across a reason to use C# outside of Unity, but when the opportunity arises...</p>

      <p><span class="strong">Largest project:</span> Drainage Tower Defense (Unity 3D)</p>

      <p><span class="strong">Go to for:</span> Unity.</p>
    </div>
  </div>

  <div class="lang-wrapper" onclick="expand(this);">
    <div class="bar-outer" >
      <div class="bar-inner-yellow" style="width: 72%;">
        <span class="lang-name">Shell Scripting</span>
      </div>
    </div>
    <div class="lang-text">
      <p>You never really own your computer until you learn to Shell Script.</p>

      <p><span class="strong">Largest project:</span> my .bash_profile</p>

      <p><span class="strong">Go to for:</span> Stitching things together.</p>
    </div>
  </div>

  <div class="lang-wrapper" onclick="expand(this);">
    <div class="bar-outer" >
      <div class="bar-inner-yellow" style="width: 70%;">
        <span class="lang-name">C</span>
      </div>
    </div>
    <div class="lang-text">
      <p>The language of choice for university computer science programs. I've yet to encounter a situation in the real world where I need to be this close to the actual machine, but it's a good one to have in your back pocket just in case.</p>

      <p><span class="strong">Largest project:</span> Various School Projects</p>

      <p><span class="strong">Go to for:</span> Assignments.</p>
    </div>
  </div>

  <div class="lang-wrapper" onclick="expand(this);">
    <div class="bar-outer" >
      <div class="bar-inner-red" style="width: 55%;">
        <span class="lang-name">JavaScript</span>
      </div>
    </div>
    <div class="lang-text">
      <p>I try to use as little JavaScript as possible. I make a game out of it, it keeps things interesting.</p>

      <p><span class="strong">Largest project:</span> Protocol Editor (OpenTrons)</p>

      <p><span class="strong">Go to for:</span> If I must...</p>
    </div>
  </div>

  <p class="note">NOTE: These values are all relative, and are not intended to be interpreted on a scale out of 100. Only languages with a working proficiency level are listed.</p>

  <!-- END LANGUAGES -a->


  <h5>Design Experience</h5>
  <p>Along with programming, I have a background in digital design. Design and development go hand in hand——only with both can you fully realize a project's mental image. Creation in general is a game of turning abstract thoughts into concrete forms, understanding the design process is instrumental in ending up with a product that fits more than just the functional requirements.</p>

  <ul>My digital design skills are as follows:
    <li><a class="regular" href="/portfolio#Vector">Vector</a> : Logo and print design, branding, layout. Utilize the full Adobe Creative Suite with an emphasis on Illustrator.</li>
    <li><a class="regular" href="/portfolio#Motion">Motion</a> : 2D and 3D animations using the open-source rendering engine Blender 3D. From smooth data visualizations to cartoon-style short films.</li>
    <li><a class="regular" href="/portfolio#3D">3D</a> : Static rendered images using Blender 3D. Realism, abstract designs, conceptual product mockups.</li> 
    <li><a class="regular" href="/portfolio#Raster">Raster</a> : Photo editing and retouching using Adobe Photoshop.</li>
  </ul>

  <p>I do limited freelance graphic design work on a case-by-case basis. If you'd like to explore the possibility of working with me to do branding, web development, or motion graphics, head over to the <a class="regular">Contact</a> page and open up a line of communication</p>

  <p>Check out the <a class="regular">Portfolio</a> page for a more in-depth look at my past works.</p>


  <h5>Section Links</h5>
  <ul>
    <li><a class="regular" href="/about/why_robots">Why Robots?</a></li>
    <li>Graphics portfolio: <a class="regular" href="/portfolio#Vector">Vector</a>, <a class="regular" href="/portfolio#Motion">Motion</a>, <a class="regular" href="/portfolio#3D">3D</a>, <a class="regular" href="/portfolio#Raster">Raster</a></li>
  </ul>
-->
  <br /><br />

</div>
{% endblock %}