{%- extends 'layout.html' %}

{%- block content %}
<div id="content-section">

  <h1>Contact</h1>

  <p class="blurb">Prove to me you're a human... or a really advanced spambot.</p>

  <img src="/static/images/contact.JPG" title="FUN FACT: this text was written by a CNC machine. For more information, read the Machine Writing project writeup in the Projects section." class="headshot" />

  <p class="blurb">If you'd like to get in contact for any reason, don't hesitate to send me an email.</p>

  <a href="http://github.com/gordonhart"><img class="icon" src="/static/images/github_logo.png" /></a>
  <a href="http://gordonhart.co"><img class="icon" src="/static/images/wordpress_logo.png" /></a>
  <a href="https://www.linkedin.com/profile/view?id=370724309"><img class="icon" src="/static/images/linkedin_logo.png" /></a>

</div>
{%- endblock %}