{% extends 'layout.html' %}

{% block content %}
<div id="title-text">

  <h3>welcome to gh-projects</h3>

  <h5></h5>
  <br /><br />
  <p>A place to aggregate the projects, designs, and pieces that I fill my time with.</p>

  <p>On this site you can...</p>
  <ul>
    <li>Head over to the About page to learn more about who I am, what I do, and why I do it.</li>
    <li>Navigate to the Projects page to see pictures, videos, and writeups of some of the specific projects I've spent time on in the past few months.</li>
    <li>Check out the Portfolio page to browse through various design pieces that I've created.</li>
    <li>Finally, visit the Contact page if you're interested in contacting me for any reason.</li>
  </ul>

  <p>Enjoy your stay!</p>

  <p class="signature">- Gordon Hart, 2015</p>

  <h5></h5>

  <p class="disclaimer">
  DISCLAIMER:<br /><br />
  This page was authored using tools available in CSS3 and HTML5. If the site does not display properly on your machine for any reason, head over to the mobile site (m.gh-projects.co) for a more vanilla website experience (or just update your browser!). If your screen resolution doesn't match the preset lower limit threshold, you'll end up over there anyway.<br /><br />
  All content, graphics, and pages are original works unless explicitly stated otherwise.
  </p>

<!--   <h3 class="title-bottom">welcome to gh-projects</h3> -->

</div>
{% endblock %}