{% import 'macros/bg.html' as bg %}

<!-- NOTE: 
This HTML page is rendered from a variety of templates so spacing and indentation may be wonky.
Traverse at your own risk.
-->

<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/static/images/favicon.png">

    <title>gh-projects</title>

    {# allows the use of custom css for certain pages without making it necessary to define for each page #}
    {% if css is not defined %}
      {% set css = "site.css" %}
    {% endif %}

    <link rel="stylesheet" href="/static/{{ css }}">

    <script type="text/javascript" src="/static/js/focus.js"></script>
    <script type="text/javascript" src="/static/js/loader.js"></script>

    {# DYNAMICALLY ADD EXTRA SCRIPTS #}
    {% for script in scripts %}
    <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}

    {# pass the location attributes on to the background slider #}
    {{ bg.slide(locs.from, locs.to) }}
  </head>
    
  <body>
    <div id="bg"> <!-- div for animated background -->
    
      <main>
        {% block content %}{% endblock %}
      </main>

    </div>

    <!-- NAV BAR -->
    <footer id="foot">

      <nav>
        <a class="nav-title" href="/">gh-projects</a>

        <a class="nav-tab {% if active == "about" %}current{% endif %}" href="/about">About</a>
        <a class="nav-tab {% if active == "projects" %}current{% endif %}" href="/projects">Projects</a>
        <a class="nav-tab {% if active == "portfolio" %}current{% endif %}" href="/portfolio">Portfolio</a>
        <a class="nav-tab {% if active == "contact" %}current{% endif %}" href="/contact">Contact</a>
        <a class="nav-tab" href="http://gordonhart.co">Blog</a>
      </nav>

    </footer>
    <!-- ENDNAV -->

  </body>

</html>