/* CSS necessary for Gallery view */

@keyframes transition-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

main { /* override default "main" block held in the "_main" partial */
	width: 100%;
	min-width: 800px; 
	
	height: 100%;

	margin: 0;
	padding: 0;

	text-align: center;	
	overflow-x: scroll;
}

#gallery-container {
	@include auto_margin;
	width: 75%;

	min-width: 1050px;
	height: 100%;
}

#gallery-main {
	margin: 0;
	display: inline-block;

	width: calc(100% - 175px);
	min-width: 875px;
	height: 100%; 

	background: rgba($black, 0.75);
	color: $light;

	float: right;

/*	padding-bottom: 4rem; */
	overflow: scroll;

	animation: transition-in 1.5s;
	-webkit-animation: transition-in 1.5s;
	-moz-animation: transition-in 1.5s;
}

#gallery-side {
	margin: 0;
	display: inline-block;

	float: left;

	width: 175px; 
/*	width: 875px; */
	height: 100%;

	cursor: default !important; 

	background: rgba($black, 0.0);
/*	color: $light; */

	overflow-y: scroll;
	overflow-x: hidden;

	/* PRETTY SURE THIS DISABLES HIGHLIGHTING */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* THIS GIVES A NICE FROSTING EFFECT */
	-webkit-filter: blur(2.5px);
	-moz-filter: blur(2.5px);
	-ms-filter: blur(2.5px);
	-o-filter: blur(2.5px);
	filter: blur(2.5px);
}

#gallery-side-shade {
	/* this :before is here to get rid of the blurred edges effect
	when using CSS blur on the gallery-side block. provides a backdrop
	for the blurred side gallery */

	z-index: -1;

	float: left;
	position: fixed;
/*
	left: calc(50% - 525px);
*/
	width: 175px;
	height: 100%;

	background: rgba($black, 0.9);

	animation: transition-in 1.5s;
	-webkit-animation: transition-in 1.5s;
	-moz-animation: transition-in 1.5s;
}

#gallery-welcome {
	@include auto_margin;

	height: 100%;
	width: 75%;
	min-width: 1050px;

	text-align: center;
	z-index: 2;

	position: fixed;
	left: 0;
	right: 0;
	top: 0;

	background: rgba(black, 0.9);
	color: $light;
/*	-webkit-filter: blur(10px); */
}

/*
#gallery-hover {
	position: fixed;
	cursor: ns-resize;

	left: calc(50% - 525px);

	width: 175px;
	height: 200px;

	background: rgba($white, 0.25);
}
*/

#gallery-overlay { /* the block for full-screen image view */
	height: 100%;
	width: 100%;
	position: fixed;

	bottom: 0;
	top: 0;
	left: 0;
	right: 0;

	display: inline-block;

	background: rgba(black, 0.9);
	opacity: 0.0;

	z-index: -1; /* behind the main content block until pulled up */
}

.gallery-side-el {
	zoom: 0.2;

	cursor: default !important;
	color: $gray !important;

	font-family: "BLOKK" !important;
	font-size: 0.5rem !important;
}

button.gallery-welcome-button{
	@include auto_margin;

	display: block;

	background: $gray;
	color: $red;

	font-family: "Rad-SemiBold";
	font-size: 2rem;

	width: 300px;
	height: 100px;

	border-radius: 25px;
	border: 2.5px solid $red;
	cursor: pointer;

	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;

	&:hover {
		background: $light;
		font-size: 2.25rem;
	}
}

h1.gallery {
	font-family: "Rad-Light";
}

img.gallery-img {
	display: block;
	margin: 3rem auto auto auto;

	cursor: pointer;

	max-width: calc(100% - 200px);
	max-height: calc(100% - 200px);

	border-radius: 1rem;
}

img.gallery-img.gallery-side-el {
	display: block;
	margin: 1rem auto auto auto;

	max-width: 66.6%;
	max-height: calc(100% - 200px);

	border-radius: 0.2rem;
}

img.gallery-full-img {
	display: inline-block;
	cursor: pointer;

	margin: auto;
	
	max-height: calc(100% - 50px); 
	max-width: calc(100% - 50px);

	top: 0;
	bottom: 0;
	left: 0;
	right:0;
	position: absolute;
}

span.label {
	font-family: "Mono-Bold";
	color: $light;
}

span.date {
	font-family: "Rad-Light";
	color: $light;	
	float: right;
}

a.spotlight {
	font-size: 0.75rem;
	font-family: "Mono-Bold";
	
	color: $gray;
	text-decoration: none;
	cursor: pointer;

	&:active, &:hover {
		color: $light;
	}
}
/*
div.gallery-nav-wrap {
	margin: 0;
	padding: 0;
}
*/
a.gallery-nav {
	width: 20px;
	height: 20px;
	display: inline-block;
	
	color: $gray;
	text-decoration: none;
	cursor: pointer;

	border-radius: 5px;

	font-size: 12px;
	margin: 0 5px;
	padding: 4px 2px 0 2px;

	background: rgba($black, 0.25);

	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;

	&:hover { background: rgba($white, 0.1); }
	&:active { background: rgba($white, 0.25); }
}

a.gallery-nav-current {
	width: 20px;
	height: 20px;
	display: inline-block;
	
	color: $gray;
	text-decoration: none;
	cursor: default;

	border-radius: 5px;

	font-size: 12px;
	margin: 0 5px;
	padding: 4px 2px 0 2px;

	background: rgba($red, 0.25);
}

h5.gallery-side-el {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0;
}

.endblock {
	height: 70px;
	padding-top: 1rem;

	display: block;
}

/*
EXPERIMENTAL
LOADING 
ANIMATION
*/

div.loader {
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	position: fixed;

	display: block;
	width: 10%;
	height: 50px;

	text-align: center;
	line-height: 50px;

	background: $light;
	color: $black;

	border-radius: 25px;

	animation: loading 3s infinite cubic-bezier(0.5, 0, 0.5, 1);
	-webkit-animation: loading 3s infinite cubic-bezier(0.5, 0, 0.5, 1);
	-moz-animation: loading 3s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

div.loaded {
	display: none;

	height: 400px;
	width: 50%;

	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	position: fixed;
}

@keyframes loading {
	0%{
		transform: translateY(-140px) rotate(0deg);
	}
	33%{
		transform: translateX(-100px)rotate(225deg);
	}
	66%{
		transform: translateX(100px)rotate(495deg);
	}
	100%{
		transform: translateY(-140px) rotate(720deg);
	}
}




