/* CSS necessary for Gallery view */

main { /* override default "main" block held in the "_main" partial */
	width: 100%;
	min-width: 800px; 
	
	height: 100%; /* this works !!!!! */

	margin: 0;
	padding: 0;

	text-align: center;	
}

#overlay {
	height: 100%;
	width: 100%;
	position: fixed;

	bottom: 0;
	top: 0;
	left: 0;
	right: 0;

	display: inline-block;

	background: rgba(black, 0.9);
	opacity: 0.0;

	z-index: -1; /* behind the main content block until pulled up */
}

h1.gallery {
	font-family: "Rad-Light";
}

img.gallery-img {
	display: block;
	margin: 1rem auto;

	max-width: calc(100% - 200px);
	max-height: calc(100% - 65px);

	border-radius: 1rem;
}

img.gallery-full-img {
	display: block;

	margin: 75px auto 25px auto;
	
	max-height: calc(100% - 150px); 
	max-width: 95%;
}

span.label {
	font-family: "Mono-Bold";
	color: $light;
}

a.spotlight {
	font-size: 0.75rem;
	font-family: "Mono-Bold";
	
	color: $gray;
	text-decoration: none;
	cursor: pointer;

	&:active, &:hover {
		color: $light;
	}
}

.endblock {
	height: 70px;
	padding-top: 1rem;

	display: block;
}